/* Estilos para elementos de móveis específicos */
.mesa, .estante, .cozinha {
    height: auto;
    width: 150px;
}

/* Estilos da galeria de imagens */
.galeria-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinha as imagens no centro */
}

.imagem-item {
    margin: 10px; /* Espaço entre as imagens */
    text-align: center; /* Centraliza o texto abaixo das imagens */
}

.imagem-galeria {
   
